
#toma {
    display: flex; 
    justify-content: flex-end; 
}


#tomagotchi_frame {
    display: inline-block; 
    width: 65vh;  
    height: 65vh;
    vertical-align: top;
    margin-top: -90px;
}

#textbox {
    display: flex; 
    justify-content: center;
    background-image: url('/images/textbox_pl.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 100vh; 
    height: 30vh; 
}

/* #icons {
    margin-top: 50px;
}

#dress {
    width: 65px; 
    height: 65px; 
}

#flag {
    width: 65px; 
    height: 65px; 
}

#light {
    width: 65px; 
    height: 65px; 
} */