
#toma {
    display: flex; 
    justify-content: flex-end; 
}


#tomagotchi_frame {
    display: inline-block; 
    width: 470px;
    height: 470px;
    vertical-align: top;
    margin-top: -90px;
}

#pet {
    display: inline-block;
    height: 300px;
    width: 300px; 
    float: right; 
    margin-right: 185px; 
    margin-top: -378px;
}

#pet_sprite { 
    height: 100%;
    width: 100%; 
    object-fit: contain; 

    /* display: inline-block; 
    width: 35vh; 
    height: 35vh; 

    vertical-align: top; 
    margin-left: -450px;
    margin-top: -390px;  */
} 

#ABC {
    margin-top: 135px; 
    text-align: center; 
}

/* window boxes */ 
#win {
    display: none; 
    position: absolute; 
    background-image: url('images/dress_up_w_pl.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 30%; 
    height: 30%; 
    left: 56px; 
}

#textbox {
    display: none; 
    /* display: flex;  */
    justify-content: center;
    background-image: url('/images/textbox_pl.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 100vh; 
    height: 30vh; 
    margin-top: -50px;
}

#textbox > span {
    display: none; 
    text-align: center;
    vertical-align: middle;
    line-height: 30vh; 
}

/* #icons {
    margin-top: 50px;
}

#dress {
    width: 65px; 
    height: 65px; 
}

#flag {
    width: 65px; 
    height: 65px; 
}

#light {
    width: 65px; 
    height: 65px; 
} */